.mytickets {
  width: 100%;
  // background-color: #F9FAFB;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  flex-direction: column;
  //   padding: 15px;
  //   border: 1px solid #cfcfcf80;
  border-radius: 10px;
  .mytickets_header {
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.newTicketSlide {
  display: flex;
  min-width: 450px;
  height: 100%;
  padding: 20px 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.inputs {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
  margin-top: auto;
  padding-bottom: 25px;
}
.reopenTicket {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 5px;
  img {
    width: 22px;
    height: 22px;
  }
}

.infoCards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr); // 5-column grid for large screens
  gap: 20px;
  padding: 10px 0;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr); // 4-column for medium screens
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr); // 3-column for smaller screens
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr); // 2-column for small screens
  }

  @media (max-width: 400px) {
    grid-template-columns: 1fr; // 1-column for extra small screens
  }
}
.priorityWrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  .priorityInputWrapper {
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 25px;
      height: 25px;
    }
  }
}
/* Define the slide-down animation */
@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation to the .priorityIntimation element */
.priorityIntimation {
  font-size: 13px;
  color: #ff591c;
  background-color: #ff969620;
  padding: 6px 10px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  line-height: 1.35;
  font-family: "osMedium", sans-serif !important;
  /* Add the slide-down animation */
  animation: slideDown 0.2s ease forwards;
}
.clickableLink {
  font-size: 14px;
  color: #2d4b51;
  font-family: "osSemiBold", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &:hover {
    text-decoration: underline;
  }
  cursor: pointer;
}
.actionButtons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  button {
    width: auto !important;
    background-color: #2d4b5115;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  img {
    width: 20px;
    height: 20px;
  }
}
.userNamePill {
  max-width: 135px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 18px;
}
.topLevelFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.fileSource {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 13px;
  font-size: 14px;
  font-family: "osMedium", sans-serif !important;
  p {
    font-size: 16px;
    color: #adadad;
  }
  .fileName {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    cursor: pointer;
    img {
      width: 18px;
      height: 18px;
    }
    span {
      font-size: 14px;
      color: #0a3622;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 370px;
      white-space: nowrap;
      height: 18px;
      font-family: "osMedium", sans-serif !important;
    }
  }
}
.attachmentsWrapper {
  max-height: 250px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
