.mytickets {
  width: 100%;
  // background-color: #F9FAFB;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  flex-direction: column;
  //   padding: 15px;
  //   border: 1px solid #cfcfcf80;
  border-radius: 10px;
  .mytickets_header {
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.newTicketSlide {
  display: flex;
  min-width: 450px;
  height: 100%;
  padding: 20px 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.inputs {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
  margin-top: auto;
}
.reopenTicket {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 5px;
  img {
    width: 22px;
    height: 22px;
  }
}

.infoCards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr); // 5-column grid for large screens
  gap: 20px;
  padding: 10px 0;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr); // 4-column for medium screens
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr); // 3-column for smaller screens
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr); // 2-column for small screens
  }

  @media (max-width: 400px) {
    grid-template-columns: 1fr; // 1-column for extra small screens
  }
}
