.quesToCEOContainer {
  box-shadow: 0px -1px 4px 0px #b9b9b940;
  border-radius: 6px;
  padding: 20px;
  margin: 20px;
  height: 460px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // padding: 25px;

  .contentSexction {
    padding: 15px 20px;
    box-shadow: 0px -1px 4px 0px #b6b6b640;
    margin-top: 20px;
    height: 350px;

    .questions {
      display: flex;
      align-items: center;
      gap: 10px;

      .imgsection {
        width: 30px;
      }
      .ques {
        width: calc(100% - 30px);
        margin: 0;
        color: #0b4d53;
        font-size: 16px;
        font-family: "osSemibold", sans-serif;
      }
      .answer {
        width: calc(100% - 30px);
        margin: 0;
        color: #4b4b4b;
        font-size: 14px;
        line-height: 21px;
        font-family: "osRegular", sans-serif;
      }
    }
    .date {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      color: #878787;
      font-size: 14px;
      font-family: "osRegular", sans-serif;

      // font-weight: 500;
      margin: 5px 0px 20px 0px;
      i {
        color: #e0803d;
      }
    }
  }
}

.addNewsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Four equal-width columns */
  gap: 16px; /* Space between grid items */
}
