.LoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 144px);
}

.tabContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  width: 100%;

  .tabsAlign {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 5px;

    .clickTab {
      font-size: 18px;
      font-weight: 500;
      color: #7c7c7c;
      cursor: pointer;
    }
  }

  .selectedTab {
    height: 32px;
    margin: 0 5px;
    font-size: 18px;
    font-weight: 500;
    background-color: #0b4d5310;
    color: #0b4d53;
    // font-family: "osSemibold", sans-serif;

    padding: 6px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.accordion {
  //   border: 1px solid #ffff;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffff;
}

.accordionheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #fff;
  font-weight: bold;
}

.accordionheading {
  //   flex: 1;
  //   text-align: left;

  padding-left: 10px;
  font-size: 18px;
  // border-left: 2px solid var(--primary-orange);
  font-family: "osSemiBold", sans-serif;
  color: var(--primary-pernix-green);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 3px;
    background-color: var(--primary-orange);
  }
}

.accordionicon {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.accordioncontent {
  padding: 15px;
  background-color: #fff;
  //   border-top: 1px solid #ddd;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.addicon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px 0px 0px;
  border-bottom: 1px solid #eee;
}

.folderCard {
  // border: 1px solid #eee;
  cursor: pointer;
  //   box-shadow: 0px 0px 4px #b6b6b650;
  width: 160px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 6px;
  padding: 10px;
  transition: all 0.2s;

  .folderContentSec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 46px !important;
    cursor: pointer;
    gap: 20px;
    padding-left: 18px;

    .folderIcon {
      height: 20px;
      width: 20px;
    }

    .fileIcon {
      height: 18px;
      width: 18px;
    }

    .contentSec {
      width: 100%;
      color: #414141;
      font-size: 14px;
      font-family: "osRegular", sans-serif;
    }
  }

  &:hover {
    background-color: #eeeeee80;
    transition: all 0.2s;
    box-shadow: 0px 0px 1px #b6b6b650;
  }
  img {
    width: 60px;
    height: 60px;
  }
  span {
    text-align: center;
    font-family: "osRegular", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #414141;
  }
}

.docCarousel {
  background-color: #fff;
  width: 100%;
  padding: 15px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  gap: 30px;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;

  // Responsive styles
  @media (max-width: 1200px) {
    max-width: 1200px;
    gap: 20px;

    .folderCard {
      flex: 0 0 160px; // Show around 2 items on medium screens (40% width each)
    }
  }

  @media (max-width: 768px) {
    max-width: 100%;
    gap: 20px;
    padding: 10px;
    margin-top: 10px;

    .folderCard {
      flex: 0 0 140px; // Show around 2 items on medium screens (40% width each)

      img {
        width: 55px;
        height: 55px;
      }
      span {
        font-size: 13px;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 10px;
    gap: 20px;
    margin-top: 10px;

    .folderCard {
      flex: 0 0 140px; // Show around 1 item on small screens (70% width each)

      img {
        width: 45px;
        height: 45px;
      }
      span {
        font-size: 12px;
      }
    }
  }
}
