.container {
  width: 100%;
  height: calc(100vh - 128px);
  background-color: #f0f0f0;
  padding: 16px 30px;
}

.LoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 144px);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;

  .backContainer {
    display: flex;
    align-items: center;
    gap: 14px;

    .backHeader {
      font-size: 24px;
      font-weight: 600;
      color: #0b4d53;
      font-family: "osSemibold", sans-serif;
    }
  }

  .searchContainer {
    display: flex;
    align-items: center;
    gap: 20px;

    .refreshBTN {
      padding: 7px;
      border-radius: 4px;
      background-color: #0b4d53;
      cursor: pointer;

      i {
        font-size: 20px;
        font-weight: 500;
        color: #ffff;
      }
    }
  }
}

.tabContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  width: 100%;
  margin-bottom: 10px;
  .tabsAlign {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 5px;
    .clickTab {
      font-size: 18px;
      font-weight: 500;
      color: #7c7c7c;
      cursor: pointer;
    }
  }

  .selectedTab {
    height: 32px;
    margin: 0 5px;
    font-size: 18px;
    font-weight: 500;
    background-color: #0b4d5310;
    color: #0b4d53;
    padding: 6px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bodyContainer {
  width: 100%;
  height: calc(100vh - 326px) !important;
  overflow: auto;

  .folderSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 46px !important;
    padding-right: 18px;

    .folderContentSec {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 80%;
      height: 46px !important;
      cursor: pointer;
      gap: 20px;
      padding-left: 18px;

      .folderIcon {
        height: 20px;
        width: 20px;
      }

      .fileIcon {
        height: 18px;
        width: 18px;
      }

      .contentSec {
        width: 100%;
      }
    }

    .folderActionSec {
      display: flex;
      align-items: center;
      width: 20%;
      gap: 20px;

      .deleteIcon {
        color: #c10000;
        cursor: pointer;
      }
    }

    .folderItems {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      border: 1px solid #eee;
      border-radius: 8px;
      padding: 10px;
      width: 150px;
      height: 100px;
      position: relative;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        .folderIcon {
          height: 50px;
          width: 50px;
        }
        .fileIcon {
          height: 40px;
          width: 40px;
        }

        span {
          width: 100%;
          font-size: 14px;
          text-align: center;
          max-width: 130px;
          overflow: hidden;
          // height: 15px;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-family: "osMedium", sans-serif !important;
        }
      }
    }
  }

  .folderSection:hover {
    height: auto;
    background-color: #f0f0f0;
  }
}

.bodyNoDataFound {
  display: flex;
  width: 100%;
  height: calc(100vh - 307px);
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #0b4d53;
}

.popupLayoutDesign {
  .firstRow {
    margin-bottom: 20px;

    div {
      width: 100%;
    }
  }

  .secondRow {
    div {
      width: 100%;
    }
  }
}
.docRepoWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 30px;
}
// .deleteIcon {
//   position: absolute;
//   top: 2px;
//   right: 2px;
//   background-color: #ff000010;
//   border-radius: 4px;
//   color: #c10000;
//   // font-size: 16px;
//   padding: 2px;
//   cursor: pointer;
// }
