.container {
  width: 100%;
  height: calc(100vh - 128px);
  background-color: #f0f0f0;
  padding: 16px 30px;
}

.LoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 144px);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;

  .backContainer {
    display: flex;
    align-items: center;
    gap: 14px;

    .backHeader {
      font-size: 22px;
      // font-weight: 600;
      color: #0b4d53;
      font-family: "osSemibold", sans-serif;
    }
  }

  .searchContainer {
    display: flex;
    align-items: center;
    gap: 20px;

    .refreshBTN {
      padding: 7px;
      border-radius: 4px;
      background-color: #0b4d53;
      cursor: pointer;

      i {
        font-size: 20px;
        font-weight: 500;
        color: #ffff;
      }
    }
  }
  .ismobile {
    display: none;
  }
}

.tabContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  width: 100%;
  margin-bottom: 10px;
  .tabsAlign {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 5px;
    .clickTab {
      font-size: 18px;
      font-weight: 500;
      color: #7c7c7c;
      cursor: pointer;
    }
  }

  .selectedTab {
    height: 32px;
    margin: 0 5px;
    font-size: 18px;
    font-weight: 500;
    background-color: #0b4d5310;
    color: #0b4d53;
    // font-family: "osSemibold", sans-serif;

    padding: 6px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bodyContainer {
  width: 100%;
  height: calc(100vh - 326px) !important;
  overflow: auto;

  .folderSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 46px !important;
    padding-right: 18px;

    .folderContentSec {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 80%;
      height: 46px !important;
      cursor: pointer;
      gap: 20px;
      padding-left: 18px;

      .folderIcon {
        height: 20px;
        width: 20px;
      }

      .fileIcon {
        height: 18px;
        width: 18px;
      }

      .contentSec {
        width: 100%;
        color: #414141;
        font-size: 14px;
        font-family: "osRegular", sans-serif;
      }
    }

    .folderActionSec {
      display: flex;
      align-items: center;
      width: 20%;
      gap: 20px;

      .deleteIcon {
        color: #c10000;
        cursor: pointer;
      }
    }

    .folderItems {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      border: 1px solid #eee;
      border-radius: 8px;
      padding: 10px;
      width: 150px;
      height: 100px;
      position: relative;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        .folderIcon {
          height: 50px;
          width: 50px;
        }
        .fileIcon {
          height: 40px;
          width: 40px;
        }

        span {
          width: 100%;
          font-size: 14px;
          text-align: center;
          max-width: 130px;
          overflow: hidden;
          // height: 15px;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-family: "osMedium", sans-serif !important;
        }
      }
    }
  }

  .folderSection:hover {
    height: auto;
    background-color: #f0f0f0;
  }
}

.bodyNoDataFound {
  display: flex;
  width: 100%;
  height: calc(100vh - 307px);
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #0b4d53;
}

.popupLayoutDesign {
  .firstRow {
    margin-bottom: 20px;

    div {
      width: 100%;
    }
  }

  .secondRow {
    div {
      width: 100%;
    }
  }
}
.docRepoWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 30px;
}

.filtericon {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 30px;
  height: 30px;
  z-index: 5;
  padding: 10px 8px 5px 8px;
  border-radius: 50%;
  box-shadow: 0 1.6px 3.6px 0 #00000022, 0 0.3px 0.9px 0 #0000001c;
  background-color: #fff;

  i {
    font-size: 14px;
    color: #0b4d53;
    cursor: pointer;
  }
}

.filter_container {
  display: none;
  position: fixed;
  bottom: 70px;
  right: -100%;
  padding: 8px;
  transition: 0.3s ease all;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1.6px 3.6px 0 #00000022, 0 0.3px 0.9px 0 #0000001c;
  z-index: 5;
}

.active_filter_container {
  right: 16px;
  transition: 0.5s ease all;
}
// .deleteIcon {
//   position: absolute;
//   top: 2px;
//   right: 2px;
//   background-color: #ff000010;
//   border-radius: 4px;
//   color: #c10000;
//   // font-size: 16px;
//   padding: 2px;
//   cursor: pointer;
// }

@media (max-width: 767px) {
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;

    .backContainer {
      display: flex;
      align-items: center;
      gap: 14px;

      .backHeader {
        font-size: 16px;
        // font-weight: 600;
        color: #0b4d53;
        font-family: "osSemibold", sans-serif;
      }
    }

    .searchContainer {
      display: none;
    }
    .ismobile {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .tabContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    margin-bottom: 10px;
    .tabsAlign {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin-left: 5px;
      .clickTab {
        font-size: 14px;
        font-weight: 500;
        color: #7c7c7c;
        cursor: pointer;
      }
    }

    .selectedTab {
      height: 32px;
      margin: 0 5px;
      font-size: 14px;
      font-weight: 500;
      background-color: #0b4d5310;
      color: #0b4d53;
      // font-family: "osSemibold", sans-serif;

      padding: 6px 12px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .bodyContainer {
    width: 100%;
    height: auto !important;
    // height: calc(100vh - 326px) !important;
    overflow: auto;

    .folderSection {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      width: 100%;
      height: 46px !important;
      padding-right: 18px;

      .folderContentSec {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        height: 46px !important;
        cursor: pointer;
        gap: 10px;
        padding-left: 0px !important;

        .folderIcon {
          height: 20px;
          width: 20px;
        }

        .fileIcon {
          height: 18px;
          width: 18px;
        }

        .contentSec {
          width: 100%;
          color: #414141;
          font-size: 12px;
          max-width: 150px;
          overflow: hidden;
          font-family: "osRegular", sans-serif;
        }
      }

      .folderActionSec {
        display: flex;
        align-items: center;
        width: 20%;
        gap: 20px;

        .deleteIcon {
          color: #c10000;
          cursor: pointer;
          font-size: 20px;
        }
      }

      .folderItems {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        border: 1px solid #eee;
        border-radius: 8px;
        padding: 10px;
        width: 150px;
        height: 100px;
        position: relative;

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          cursor: pointer;

          .folderIcon {
            height: 50px;
            width: 50px;
          }
          .fileIcon {
            height: 40px;
            width: 40px;
          }

          span {
            width: 100%;
            font-size: 14px;
            text-align: center;
            max-width: 130px;
            overflow: hidden;
            // height: 15px;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-family: "osMedium", sans-serif !important;
          }
        }
      }
    }

    .folderSection:hover {
      height: auto;
      background-color: #f0f0f0;
    }
  }

  .filtericon {
    display: block;
  }
  .filter_container {
    display: block;
  }

  .bodyNoDataFound {
    font-size: 14px;
  }
}
