@import '~@fluentui/react/dist/sass/References.scss';

.LoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 144px);
}
.boxWrapper {
  background-color: #f0f0f0;
  padding: 20px 0;
  height: calc(100vh - 178px);
}

.newsHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

  .leftSection {
    display: flex;
    align-items: center;
    gap: 10px;

    i {
      cursor: pointer;
    }

    p {
      font-family: "osSemibold", sans-serif;
      color: #0b4d53;
      font-size: 22px;
    }
  }

  .rightSection {
    display: flex;
    align-items: center;
    gap: 15px;

    .refreshBtn {
      padding: 7px;
      border-radius: 4px;
      background-color: #0b4d53;
      cursor: pointer;

      i {
        font-size: 20px;
        font-weight: 500;
        color: #ffff;
      }
    }

    .addNewbtn {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 15px;
      font-weight: 500;
      background: #0b4d53;
      // width: 114px;
      height: 34px;
      color: #fff;
      padding: 4px 20px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
.addNewsGrid {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr); /* Four equal-width columns */
  // gap: 16px; /* Space between grid items */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  .item1 {
    width: 100%;
  }

  .item2 {
    width: 100%;
  }

  .item3 {
    width: 100%;
  }

  .item4 {
    width: 100%;
  }

  .item5 {
    width: 100%;
  }

  .item6 {
    width: 100%;
  }

  .r1 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
  }

  .r2 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }

  .r3 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }

  .r4 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }
}

.tabsContainer {
  display: flex;
  gap: 20px;
  margin: 0px 20px;

  div {
    padding-bottom: 6px;
    font-size: 18px;
    font-weight: 500;
    color: #0b4d53;
    cursor: pointer;
    border-radius: 4px;
  }
}
.questionSection {
  width: 100%;
}
.question {
  margin: 0;
  color: #0b4d53;
  font-size: 16px;
  font-family: "osSemibold", sans-serif;
}

    .contentSection {
      padding: 15px 20px 0px 20px;
      // box-shadow: 0px -1px 4px 0px #b6b6b640;
      margin-top: 10px;
      // height: 350px;
      background-color: #fff;
      display: flex;
  
      .questions {
        display: flex;
        align-items: center;
        gap: 10px;
  
        .imgsection {
          width: 30px;
        }
  
        .ques {
          width: calc(100% - 30px);
          margin: 0;
          color: #0b4d53;
          font-size: 16px;
          font-family: "osSemibold", sans-serif;
        }
  
        .answer {
          width: calc(100% - 30px);
          margin: 0;
          color: #4b4b4b;
          font-size: 14px;
          line-height: 21px;
          font-family: "osRegular", sans-serif;
        }
      }
  
      .date {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        color: #878787;
        font-size: 14px;
        font-family: "osRegular", sans-serif;
  
        // font-weight: 500;
        margin: 5px 0px 15px 0px;
  
        i {
          color: #e0803d;
        }
      }
    }

.rhsActions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  width: 10%;
}

.activepill {
  padding: 6px;
  border-radius: 4px;
  background-color: #e4fae8;
  font-size: 12px;
  color: #1eb949;
  width: 85px;
  text-align: center;
  font-family: "osMedium", sans-serif;

  @media (max-width: 630px) {
    font-size: 10px;
  }
}

.inactivepill {
  padding: 6px;
  border-radius: 4px;
  background-color: #fae4e4;
  font-size: 12px;
  color: #fd3737;
  width: 85px;
  text-align: center;
  font-family: "osMedium", sans-serif;

  @media (max-width: 630px) {
    font-size: 10px;
  }
}

.actionBtns {
  display: flex;
  gap: 14px;

  button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #0056b3;
    }

    &:first-of-type {
      background-color: #adadad;

      &:hover {
        background-color: #adadad;
      }
    }

    &:last-of-type {
      background-color: #dc3545;

      &:hover {
        background-color: #c82333;
      }
    }

    @media (max-width: 630px) {
      padding: 4px 8px;
      font-size: 12px;
    }
  }
}