.sectionToggler {
    height: 22px !important;
}

.sectionToggler.p-inputswitch .p-inputswitch-slider {
    border-radius: 25px !important;
    height: 21px !important;
}

.sectionToggler.p-inputswitch.p-highlight .p-inputswitch-slider {
    background-color: #55a363 !important;
}

.sectionToggler.p-inputswitch.p-highlight .p-inputswitch-slider:before {
    transform: translateX(1.7rem) !important;
}

.sectionToggler.p-inputswitch .p-inputswitch-slider:before {
    border-radius: 25px !important;
    width: 13px !important;
    height: 13px !important;
    margin-top: -6.4px !important;
    box-shadow: 0 0 13px -1px rgba(0, 0, 0, 37%) !important;
}
.p-checkbox{
    display: flex;
    align-items: center;
}
.p-checkbox-box{
    width: 15px!important;
    height: 15px!important;
}