.container {
  width: 100%;
  height: calc(100vh - 48px);
  background-color: #f0f0f0;
  padding: 16px 30px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .backContainer {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer !important;

    .backHeader {
      font-size: 24px;
      font-weight: 600;
      color: #0b4d53;
      font-family: "osSemibold", sans-serif;
    }
  }

  .searchContainer {
    display: flex;
    align-items: center;
    gap: 20px;

    .refreshBTN {
      padding: 7px;
      border-radius: 4px;
      background-color: #0b4d53;
      cursor: pointer;

      i {
        font-size: 20px;
        font-weight: 500;
        color: #ffff;
      }
    }
  }
}

.tabsContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  div {
    padding-bottom: 6px;
    font-size: 18px;
    font-weight: 500;
    color: #0b4d53;
    cursor: pointer;
    border-radius: 4px;
  }
}

.bodyContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;

  .cardSection {
    width: 100%;
    height: 160px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 2px 4px 0px;
    display: flex;
    gap: 20px;

    .cardIMG {
      width: 20%;
      height: 100%;
      object-fit: fill;
      border-radius: 4px;
    }

    .cardBody {
      width: 70%;
      height: 100%;
      font-size: 16px;
      line-height: 1.4;
    }

    .cardIcon {
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      i {
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
}
