.newhireContainer {
  padding: 15px;
  height: 448px;
  box-shadow: 0px -1px 4px 0px #b9b9b940;

  .contentSection {
    padding: 15px 20px;
    box-shadow: 0px -1px 4px 0px #b6b6b640;
    margin-top: 20px;
    min-height: 280px;

    .employeeName {
      color: #0b4d53;
      margin: 5px 0px 10px 0px;
      font-size: 16px;
      font-family: "osSemibold" sans-serif;
    }
    .imgandName {
      display: flex;
      align-items: center;
      gap: 5px;
      p {
        margin: 0;
        color: #4b4b4b;
        font-size: 14px;
        font-family: "osRegular" sans-serif;
      }
    }
    .description {
      margin: 0;
      color: #4b4b4b;
      font-size: 14px;
      font-family: "osRegular" sans-serif;
      line-height: 1.3;
      margin-bottom: 10px;
    }
    .imgSection {
      width: 100%;
      height: 140px;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 6px;

        object-fit: fill;
      }
    }
  }
}
