.newhireContainer {
  margin: 20px;
  padding: 20px;
  box-shadow: 0px -1px 4px 0px #b9b9b940;
  border-radius: 6px;
  // height: 460px;

  .contentSection {
    padding: 15px 20px;
    border-radius: 6px;
    // height: 350px;
    box-shadow: 0px -1px 4px 0px #b6b6b640;
    margin-top: 20px;
    // min-height: 280px;
        .Container {
            background-color: #fff;
            padding: 10px;
            // height: 350px;
            // overflow: auto;
            margin-bottom: 10px;

    .employeeName {
      color: #0b4d53;
      margin: 5px 0px 10px 0px;
      font-size: 17px;
      font-family: "osSemibold", sans-serif;
    }
    .imgandName {
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 10px 0px;
      p {
        margin: 0;
        color: #4b4b4b;
        font-size: 14px;
        font-family: "osRegular", sans-serif;
      }
    }
    .description {
      margin: 0;
      color: #4b4b4b;
      font-size: 13px;
      font-family: "osRegular", sans-serif;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      line-clamp: 5;
      // max-height: calc(1em * 4);
      // line-height: 1em;
      line-height: 21px;
      margin-bottom: 20px;
    }
    .imgSection {
      width: 100%;
      height: 140px;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 6px;

        object-fit: fill;
      }
    }
  }
  }
}
.newHiresGrid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  .secondRow {
    width: 100%;
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
  
      .c1 {
        width: 100%;
      }
    }
  
    .thirdRow {
      width: 100%;
      display: flex;
      gap: 20px;
  
      div {
        width: 100%;
      }
    }
}
