.flexibleSection {
  margin: 20px;

  .icon {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0px;

    .buttondiv {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 80px;
      border-radius: 4px;
      padding: 10px;
      color: #ffff;
      font-size: 1rem;
      background: #0b4d53;

      i {
        font-size: 1rem;
        color: #ffff;
        cursor: pointer;
      }
    }
  }
  .container {
    display: flex;
    // margin: 20px;
    gap: 15px;

    > div {
      width: 33.33%;
    }
  }
}
// For mobile responsiveness
@media (max-width: 768px) {
  .flexibleSection {
    .icon {
      i {
        font-size: 1rem;
      }
    }

    .container {
      flex-direction: column;
      gap: 10px;

      > div {
        width: 100%;
      }
    }
  }
}

.LoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
