.flexibleSection {
  width: 100%;
  margin: 20px;
  // @media(max-width:400px){
  //   margin: 0;
  // }

  .icon {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0px;
    width: calc(100% - 40px);

    .buttondiv {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 80px;
      border-radius: 4px;
      padding: 10px;
      color: #ffff;
      font-size: 1rem;
      background: #0b4d53;

      i {
        font-size: 1rem;
        color: #ffff;
        cursor: pointer;
      }
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    // margin: 20px;
    gap: 40px;

    > div {
      width: calc(33.33% - 40px);
    }
  }

  .twoComponents {
    display: flex;
    flex-wrap: wrap;
    // margin: 20px;
    gap: 40px;
    > div {
      width: calc(50% - 40px);

      @media(max-width:768px){
        width: 100%;
      }
    }
    @media(max-width:768px){
      gap: 20px;
    }
  }

  // @media (max-width: 1020px) {
  //   > div {
  //     width: calc(50% - 40px) !important;
  //   }
  // }
}

// For mobile responsiveness

@media (max-width: 1020px) {
  .flexibleSection {
    .icon {
      width: calc(100% - 20px);

      i {
        font-size: 1rem;
      }
    }

    .container {
      display: flex;
      flex-wrap: wrap;

      gap: 10px;

      > div {
        width: calc(50% - 10px) !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .flexibleSection {
    width: unset ;
    .icon {
      width: 100% !important;

      i {
        font-size: 1rem;
      }
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      > div {
        width: 100% !important; 
      }
    }
  }
}

// @media (max-width: 768px) {
//   .flexibleSection {

//     .icon {
//       i {
//         font-size: 1rem;
//       }
//     }

//     .container {
//       gap: 10px;

//       > div {
//         width: calc(100% - 10px) !important;
//       }
//     }
//   }
// }

.LoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
