.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.richtextwrapper {
  width: 100%;
}
.newsContainer {
  min-height: 486px;
  margin: 20px;
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px -1px 4px #b6b6b650;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  .newsContainerWrapper {
    padding: 0 10px;
    width: 100%;
    min-height: 365px;
    // max-height: 350px;
    height: 100%;
    gap: 6px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;

    @media (max-width: 768px) {
      padding: 0;
      gap: 8px;
    }
  }
}
/* Define the grid container */
.addNewsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Four equal-width columns */
  gap: 16px; /* Space between grid items */
}

/* Make the grid responsive */
@media (max-width: 1200px) {
  .addNewsGrid {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Three columns for medium screens */
  }
}

@media (max-width: 900px) {
  .addNewsGrid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for small screens */
  }
}

@media (max-width: 600px) {
  .addNewsGrid {
    grid-template-columns: 1fr; /* Single column for very small screens */
  }
}

/* Grid item styling */
.grid-item {
  background-color: #f4f4f4; /* Light gray background for items */
  padding: 16px; /* Padding inside grid items */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
