.container {
  height: 460px;
  // background-color: #ffffff;

  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px -1px 4px #b6b6b650;
  margin: 20px;

  // .header {
  //   border-left: 3px solid #e0803d;
  //   font-size: 16px;
  //   font-weight: 600;
  //   padding-left: 10px;
  //   padding: 10px;
  // }
  .contentSection {
    padding: 15px 20px;
    box-shadow: 0px -1px 4px 0px #b6b6b640;
    margin-top: 20px;
    height: 350px;

    .contentMain {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;

      .image {
        width: 70px;
        height: 70px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 6px;
          // object-fit: cover;
        }
      }
      .content {
        width: calc(100% - 50px);

        .contentwithIconsection {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .Title {
            flex-grow: 1;
            .name {
              margin: 0;
              font-size: 16px;
              // font-weight: 600;
              color: #0b4d53;
              font-family: "osSemibold", sans-serif;

              // font-family: ;
              margin-bottom: 5px;
            }
            .date {
              margin: 0;
              font-size: 14px;
              font-family: "osRegular", sans-serif;
              // font-weight: 400;
            }
          }
          // .shareicon {
          //   width: 20px;
          //   height: 20px;
          //   img {
          //     width: 100%;
          //     height: 100%;
          //     object-fit: cover;
          //   }
          // }
        }
      }
    }
  }

  .birthDialog {
    width: 50vw;

    p {
      margin: 0;
    }

    .content {
      border: 1px solid #ccc;
      padding: 10px;
      p {
        margin: 0;
      }
    }
    .buttonSection {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .teams {
        width: 200px !important;
      }
      .outlook {
        width: 200px !important;
      }
    }
  }
}
.messageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.sendWish {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  span {
    margin-left: auto;
    font-size: 18px;
    font-family: "osBold", sans-serif;
  }
  button {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    margin-left: auto;
    background-color: transparent;
  }
}
.actionBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  button {
    font-size: 14px;
    font-family: "osSemiBold", sans-serif;
    padding: 8px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: transparent;
    img {
      width: 20px;
      height: 20px;
    }

    &.teams {
      border: 1px solid #7b83eb;
      color: #7b83eb;
    }

    &.outlook {
      border: 1px solid #117ad6;
      color: #117ad6;
    }
  }
}
