.container {
  width: 100%;
  height: calc(100vh - 128px);
  background-color: #f0f0f0;
  padding: 16px 30px;
}

.allblog {
  height: 440px;
}
.pendingApproval {
  height: 494px;
}

.LoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 144px);
}

.masterHeaderContainer {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;

  .backHeader {
    font-size: 22px;
    font-weight: 600;
    color: #0b4d53;
    font-family: "osSemibold", sans-serif;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;

  .backContainer {
    display: flex;
    align-items: center;
    gap: 14px;

    .backHeader {
      font-size: 22px;
      font-weight: 600;
      color: #0b4d53;
      font-family: "osSemibold", sans-serif;
    }
  }

  .masterTabsContainer {
    border: 1px solid #0b4d53;
    display: inline-flex;
    border-radius: 8px;
    overflow: hidden;

    span {
      padding: 8px 40px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      font-family: "osSemibold", sans-serif;
    }
  }

  .searchContainer {
    display: flex;
    align-items: center;
    gap: 20px;

    .refreshBTN {
      padding: 7px;
      border-radius: 4px;
      background-color: #0b4d53;
      cursor: pointer;

      i {
        font-size: 20px;
        font-weight: 500;
        color: #ffff;
      }
    }
  }

  .ismobile {
    display: none;
  }
}

.detailsListContainer {
  background: #fff;
  padding: 10px;
  border-radius: 8px;

  .lableSec {
    height: 36px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #0b4d53;
    border-bottom: 2px solid #0b4d53;
    font-family: "osSemibold", sans-serif;
  }

  .bodySec {
    height: calc(100vh - 291px);
    overflow: auto;

    .rowSec {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      border-bottom: 1px solid #ececec;
      padding: 4px 0px;

      .titleSec {
        line-height: 1.2;
        font-size: 16px;
        width: 90%;
        cursor: pointer;
        font-family: "osSemibold", sans-serif;
      }

      .iconSec {
        width: 10%;
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: end;
      }
    }
  }
}

.tabsContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  div {
    padding-bottom: 6px;
    font-size: 18px;
    font-weight: 500;
    color: #0b4d53;
    cursor: pointer;
    border-radius: 4px;
  }
}

.bodyContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  height: calc(100vh - 306px);
  overflow: auto;
}

.bodyContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
}

.bodyNoDataFound {
  display: flex;
  width: 100%;
  height: calc(100vh - 306px);
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #a7a7a7;
}

.errorMsg {
  margin-top: 5px;
  height: 19px;
  color: red;
  font-family: "osMedium", sans-serif;
  font-size: 13px;
  text-align: left;
  animation: slideAndFade 0.17s both ease !important;
}

.formBodySec {
  width: 100%;
  height: calc(100vh - 254px);
  overflow: auto;
  padding: 0 40px;

  .firstRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;

    .headingAndTagSec {
      width: 60%;

      .headingSec {
        width: 100%;
        margin-bottom: 20px;
      }

      .tagSec {
        width: 100%;
        margin-bottom: 20px;

        .tagInput {
          width: 100%;
          margin-bottom: 10px;
        }

        .tagChips {
          display: flex;
          align-items: center;
          width: 100%;
          overflow: auto;
          gap: 8px;
          padding: 0px;
          .mainChip {
            color: #555;
            // max-width: 50%;
            background-color: #fff;
            // text-overflow: ellipsis;
            // white-space: nowrap;
            // overflow: hidden;
          }
        }
      }
    }

    .ImageSec {
      width: 100%;
    }
  }

  .secondRow {
    background: #fff;
    border-radius: 10px;
    padding: 6px;
    width: 100%;
    overflow: auto;
    margin-bottom: 20px;
    // .item {
    //   width: 50%;
    // }
    .richtextwrapper {
      width: 100%;
    }
  }

  .thirdRow {
    background: #fff;
    border-radius: 10px;
    padding: 6px;
    width: 40%;
    // margin-bottom: 20px;
  }
}

.formBTNSec {
  display: flex;
  justify-content: end;
  margin: 20px 0px;
  gap: 20px;
}

.cardSec {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
  background: #ffffff;
  overflow: auto;
  align-items: stretch;
  justify-content: space-between;
  .imgSec {
    height: 200px;
    width: 100%;
    border-radius: 6px;
    object-fit: fill;
    margin-bottom: 10px;
  }

  .cardTag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .icons {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .tagsWrap {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5px;
    }
    .mainChip {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #c1c1c120;
      height: 24px;
      // max-width: 60%;

      // span {
      //   display: inline-block;
      //   max-width: 100%;
      //   text-overflow: ellipsis;
      //   white-space: nowrap;
      //   overflow: hidden;
      // }
    }

    span {
      color: #7e7e7e;
      font-family: "osSemiBold", sans-serif;
      font-size: 12px;
      line-height: 17px;
      display: -webkit-box;
      // padding-right: 5px;
      // margin-left: 5px;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      font-family: "osMedium", sans-serif;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: break-word;
    }

    div {
      i {
        font-size: 15px;
        color: #e0803d;
        background-color: #e0803d20;
        border-radius: 50%;
        padding: 9px;
      }
    }
  }

  .cardHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    span {
      font-size: 17px;
      color: #414141;
      height: 19px;
      font-family: "osSemiBold", sans-serif;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    i {
      cursor: pointer;
      color: #0b4d53;
    }

    div {
      display: flex;
      align-items: center;
      gap: 10px;

      div {
        padding: 6px 10px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
      }

      i {
        cursor: pointer;
        color: #0b4d53;
      }
    }
  }

  .cardBody {
    height: auto;
    line-height: 20px;
    color: #adadad;
    font-family: "osRegular", sans-serif;
    font-size: 14px;
    // margin-bottom: 15px;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
  }

  .cardApproveSec {
    justify-content: flex-start;
    margin-bottom: -10px;
  }

  .cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    .cardAvaSec {
      display: flex;
      gap: 8px;
      .userTexts {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        .authorName {
          // color: #adadad;
          // color: #adadad;
          color: unset;
          font-family: "osMedium", sans-serif;
        }
        span {
          font-size: 13px;
          color: #adadad;
          font-family: "osRegular", sans-serif;
        }
      }
    }

    .cardAction {
      display: flex;
      gap: 20px;

      .actions {
        display: flex;
        gap: 4px;
        cursor: pointer;
      }
    }
  }
}

.approvePopupContent {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.approvePopupClose {
  position: absolute;
  top: -20px;
  right: 0;
  left: 380px;
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  i {
    font-size: 14px;
    font-weight: 500;
    color: #000;
  }
}

.viewBlogContainer {
  height: calc(100vh - 200px);
  overflow: auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.03);

  .VTag {
    margin-bottom: 20px;
    font-family: "osMedium", sans-serif;
    font-size: 14px;
    color: #e0803d;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
  }

  .VImg {
    margin-bottom: 20px;
    height: 550px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .VHeading {
    margin-bottom: 10px;
    font-family: "osSemiBold", sans-serif;
    font-size: 22px;
  }

  .VContent {
    margin-bottom: 20px;
    line-height: 24px;
    font-size: 14px;
    font-family: "osRegular";
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;

    p {
      margin: 0;
    }

    ul {
      list-style-type: disc;
      padding-left: 50px;
    }

    ol {
      list-style-type: decimal;
      padding-left: 50px;
    }

    li {
      margin-bottom: 5px;
    }
  }

  .VAvatar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    .AProfile {
      display: flex;
      gap: 8px;
      .userTexts {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        .authorName {
          // color: #adadad;
          color: unset;

          font-family: "osMedium", sans-serif;
        }
        span {
          font-size: 13px;
          color: #adadad;
          font-family: "osRegular", sans-serif;
        }
      }
    }

    .AActions {
      display: flex;
      align-items: center;
      gap: 20px;

      .AASections {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
      }
    }
  }

  .VCommentContainer {
    .CHeader {
      margin-bottom: 20px;
      font-family: "osSemiBold", sans-serif;
      color: #0b4d53;
    }

    .CComments {
      margin-bottom: 20px;
      line-height: 1.4;
    }

    .CNoComments {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      font-family: "osMedium", sans-serif;
      color: #adadad;
    }
  }
}
.selectedFileName {
  color: #424242;
  padding: 10px 15px;
  font-family: "osSemiBold", sans-serif;
  border-radius: 4px;
  margin-top: 5px;
  background: #fff;
}

.commentCard {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
  gap: 10px;
  .userProfile {
    margin-right: 10px;
    margin-top: 5px;
  }

  .commentCardMain {
    flex-grow: 1;
    border: 1px solid #eee;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s;

    &.authorHighlightWrap {
      border: 1px solid #c4692e20;
    }

    .commentHeader {
      position: relative; // Add this to position the pseudo-element
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      background-color: #1f363b15;
      border-bottom: 1px solid #eee;
      border-radius: 6px 6px 0 0;

      // Add triangle indicator
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -10px; // Position it to the left of the header
        transform: translateY(-50%);
        border-style: solid;
        border-width: 8px 10px 8px 0; // Triangle shape
        border-color: transparent #1f363b15 transparent transparent; // Change color as needed
      }

      &.authorHighlight {
        background-color: #c4692e20;
        border-bottom: 1px solid #c4692e20;

        &::before {
          border-color: transparent #c4692e20 transparent transparent; // Change color for authorHighlight
        }

        .texts {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 12px;
          .author {
            font-size: 14px;
            color: #8f410d;
            font-family: "osSemiBold", sans-serif;
          }
        }
        .info {
          font-size: 12px;
          color: #696258;
          font-family: "osMedium", sans-serif;
        }
        .extraInfo {
          font-size: 12px;
          color: #696258;
          // margin-left: 5px;
          padding-left: 10px;
          // border-left: 1px solid #55555580;
          font-family: "osMedium", sans-serif;
        }
        .hamb {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          .roleBadge {
            background-color: #8f410d;
            color: #ffffff;
            font-size: 11px;
            font-family: "osMedium", sans-serif;
            padding: 5px 8px;
            border-radius: 3px;
            margin-left: 6px;
            width: max-content;
          }
        }
      }

      .texts {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        .author {
          font-size: 14px;
          color: var(--primary-pernix-green-dark);
          font-family: "osSemiBold", sans-serif;
        }
      }
      .info,
      .extraInfo {
        font-size: 12px;
        color: #586069;
        font-family: "osMedium", sans-serif;
        padding-left: 10px;
        // border-left: 1px solid #55555580;
      }
      .hamb {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .roleBadge {
          background-color: #24292e;
          color: #ffffff;
          font-size: 11px;
          font-family: "osMedium", sans-serif;
          padding: 5px 8px;
          border-radius: 3px;
          margin-left: 6px;
          width: max-content;
        }
      }
    }
  }

  .commentSpace {
    padding: 10px 15px;
    font-size: 14px;
    color: #24292e;
    line-height: 1.5;
    font-family: "osMedium", sans-serif;
    li {
      list-style: disc !important;
      margin-left: 15px !important;
    }
    div > p {
      word-break: break-all !important;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.15s ease-in-out forwards;
}
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.commentsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
}
.commentHeaderWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  font-size: 15px;
  border-bottom: 1px solid #adadad50;
  color: #adadad;
  padding-bottom: 5px;
  font-family: "interMedium", sans-serif;
}

.VDocuments {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: osRegular;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    font-size: 14px;
    font-family: "osSemiBold", sans-serif;
    color: #0b4d53;
  }

  div {
    cursor: pointer;
    color: #0000ee;

    i {
      font-size: 14px;
      margin-right: 6px;
      color: #000;
    }
    &:hover {
      text-decoration: underline;
      // color: #0b4d53;
    }
  }
}

// ismobile

.filtericon {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 30px;
  height: 30px;
  z-index: 5;
  padding: 10px 8px 5px 8px;
  border-radius: 50%;
  box-shadow: 0 1.6px 3.6px 0 #00000022, 0 0.3px 0.9px 0 #0000001c;
  background-color: #fff;

  i {
    font-size: 14px;
    color: #0b4d53;
    cursor: pointer;
  }
}

.filter_container {
  display: none;
  position: fixed;
  bottom: 70px;
  right: -100%;
  padding: 8px;
  transition: 0.3s ease all;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1.6px 3.6px 0 #00000022, 0 0.3px 0.9px 0 #0000001c;
  z-index: 5;
}

.active_filter_container {
  right: 16px;
  transition: 0.5s ease all;
}
/* Responsive design */
@media (max-width: 1024px) {
  .bodyContainer {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 800px) {
  .allblog {
    height: 400px;
  }
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;

    .backContainer {
      display: flex;
      align-items: center;
      gap: 14px;

      .backHeader {
        font-size: 17px;
        color: #0b4d53;
        font-family: "osSemibold", sans-serif;
      }
    }

    .searchContainer {
      display: none;
    }

    .ismobile {
      display: block;
    }
  }

  .tabsContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    div {
      padding-bottom: 6px;
      font-size: 14px;
      font-weight: 500;
      color: #0b4d53;
      cursor: pointer;
      border-radius: 4px;
    }
  }
  .bodyContainer {
    grid-template-columns: repeat(2, 1fr) !important;
    height: auto;
    overflow: unset;
  }

  .formBodySec {
    width: 100%;
    height: calc(100vh - 254px);
    overflow: auto;
    padding: 0 20px;

    .firstRow {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 10px;

      .headingAndTagSec {
        width: 100%;

        .headingSec {
          width: 100%;
          margin-bottom: 20px;
        }

        .tagSec {
          width: 100%;
          margin-bottom: 20px;
        }
      }

      .ImageSec {
        width: 100%;
      }
    }

    .secondRow {
      background: #fff;
      border-radius: 10px;
      padding: 6px;
      width: 100%;
      margin-bottom: 20px;
      .richtextwrapper {
        width: 1000px;
      }
    }

    .thirdRow {
      background: #fff;
      border-radius: 10px;
      padding: 6px;
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .formBTNSec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px;
    gap: 10px;
  }

  .cardSec {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
    background: #ffffff;
    overflow: auto;
    align-items: stretch;
    justify-content: space-between;
    .imgSec {
      height: 100px;
      width: 100%;
      border-radius: 6px;
      object-fit: fill;
      margin-bottom: 0px;
    }

    .cardTag {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0px;
      .icons {
        display: flex;
        align-items: center;
        gap: 4px;
      }
      span {
        font-size: 13px;
        color: #e0803d;
        line-height: 14px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        font-family: "osMedium", sans-serif;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 0px;
      }

      div {
        i {
          font-size: 13px;
          color: #e0803d;
          background-color: #e0803d20;
          border-radius: 50%;
          padding: 9px;
        }
      }
    }

    .cardHeading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      margin-bottom: 0px;
      span {
        font-size: 13px;
        color: #414141;
        height: 17px;
        font-family: "osSemiBold", sans-serif;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      i {
        cursor: pointer;
        color: #0b4d53;
      }

      div {
        display: flex;
        align-items: center;
        gap: 10px;

        div {
          padding: 6px 10px;
          border-radius: 4px;
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 0.5px;
        }

        i {
          cursor: pointer;
          color: #0b4d53;
        }
      }
    }

    .cardBody {
      height: auto;
      line-height: 20px;
      color: #adadad;
      font-family: "osRegular", sans-serif;
      font-size: 13px;
      // margin-bottom: 15px;
      overflow: hidden;
      word-break: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      white-space: normal;
    }

    .cardApproveSec {
      justify-content: flex-start;
      margin-bottom: -10px;
    }

    .cardFooter {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      margin-top: 0px;
      .cardAvaSec {
        display: flex;
        gap: 8px;
        .userTexts {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: flex-start;
          gap: 5px;
          .authorName {
            // color: #adadad;
            color: unset;

            font-family: "osMedium", sans-serif;
          }
          span {
            font-size: 13px;
            color: #adadad;
            font-family: "osRegular", sans-serif;
          }
        }
      }

      .cardAction {
        display: flex;
        gap: 20px;

        .actions {
          display: flex;
          gap: 4px;
          cursor: pointer;
        }
      }
    }
  }

  .viewBlogContainer {
    .VTag {
      font-size: 13px;
      margin-bottom: 10px;
    }
    .VImg {
      height: auto;
      margin-bottom: 10px;
    }
    .VHeading {
      font-size: 16px;
    }

    .VAvatar {
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px;
      .AProfile {
        .userTexts {
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
  .commentCard {
    flex-wrap: wrap;

    .commentCardMain {
      .commentHeader {
        .texts {
          .author {
            font-size: 12px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            font-family: "osMedium", sans-serif;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .info,
        .extraInfo {
          font-size: 12px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          font-family: "osMedium", sans-serif;
          overflow: hidden;
        }
      }
    }
  }

  .filtericon {
    display: block;
  }
  .filter_container {
    display: block;
  }
  // .bodyContainer {
  //   grid-template-columns: repeat(2, 1fr) !important;
  // }
}

@media (max-width: 600px) {
  .allblog {
    height: 400px;
  }
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;

    .backContainer {
      display: flex;
      align-items: center;
      gap: 14px;

      .backHeader {
        font-size: 16px;
        color: #0b4d53;
        font-family: "osSemibold", sans-serif;
      }
    }

    .searchContainer {
      display: none;
    }

    .ismobile {
      display: block;
    }
  }

  .tabsContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    div {
      padding-bottom: 6px;
      font-size: 12px;
      font-weight: 500;
      color: #0b4d53;
      cursor: pointer;
      border-radius: 4px;
    }
  }
  .bodyContainer {
    grid-template-columns: 1fr !important;
    height: auto;
  }

  .formBodySec {
    width: 100%;
    height: calc(100vh - 254px);
    overflow: auto;
    padding: 0 10px;
    .firstRow {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 10px;

      .headingAndTagSec {
        width: 100%;

        .headingSec {
          width: 100%;
          margin-bottom: 20px;
        }

        .tagSec {
          width: 100%;
          margin-bottom: 20px;
        }
      }

      .ImageSec {
        width: 100%;
      }
    }

    .secondRow {
      background: #fff;
      border-radius: 10px;
      padding: 6px;
      width: 100%;
      margin-bottom: 20px;
      .richtextwrapper {
        width: 1000px;
      }
    }

    .thirdRow {
      background: #fff;
      border-radius: 10px;
      padding: 6px;
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .formBTNSec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px;
    gap: 10px;
  }

  .cardSec {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
    background: #ffffff;
    overflow: auto;
    align-items: stretch;
    justify-content: space-between;
    .imgSec {
      height: 100px;
      width: 100%;
      border-radius: 6px;
      object-fit: fill;
      margin-bottom: 0px;
    }

    .cardTag {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0px;
      .icons {
        display: flex;
        align-items: center;
        gap: 4px;
      }
      span {
        font-size: 12px;
        color: #e0803d;
        line-height: 14px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        font-family: "osMedium", sans-serif;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 0px;
      }

      div {
        i {
          font-size: 12px;
          color: #e0803d;
          background-color: #e0803d20;
          border-radius: 50%;
          padding: 9px;
        }
      }
    }

    .cardHeading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      margin-bottom: 0px;
      span {
        font-size: 12px;
        color: #414141;
        height: 13px;
        font-family: "osSemiBold", sans-serif;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      i {
        cursor: pointer;
        color: #0b4d53;
      }

      div {
        display: flex;
        align-items: center;
        gap: 10px;

        div {
          padding: 6px 10px;
          border-radius: 4px;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.5px;
        }

        i {
          cursor: pointer;
          color: #0b4d53;
        }
      }
    }

    .cardBody {
      height: auto;
      line-height: 20px;
      color: #adadad;
      font-family: "osRegular", sans-serif;
      font-size: 12px;
      // margin-bottom: 15px;
      overflow: hidden;
      word-break: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      white-space: normal;
    }

    .cardApproveSec {
      justify-content: flex-start;
      margin-bottom: -10px;
    }

    .cardFooter {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      margin-top: 0px;
      .cardAvaSec {
        display: flex;
        gap: 8px;
        .userTexts {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: flex-start;
          gap: 5px;
          .authorName {
            // color: #adadad;
            color: unset;

            font-family: "osMedium", sans-serif;
          }
          span {
            font-size: 12px;
            color: #adadad;
            font-family: "osRegular", sans-serif;
          }
        }
      }

      .cardAction {
        display: flex;
        gap: 20px;

        .actions {
          display: flex;
          gap: 4px;
          cursor: pointer;
        }
      }
    }
  }

  .viewBlogContainer {
    .VTag {
      font-size: 13px;
      margin-bottom: 10px;
    }
    .VImg {
      height: auto;
      margin-bottom: 10px;
    }
    .VHeading {
      font-size: 16px;
    }

    .VAvatar {
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px;
      .AProfile {
        .userTexts {
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
  .commentCard {
    flex-wrap: wrap;

    .commentCardMain {
      .commentHeader {
        .texts {
          .author {
            font-size: 12px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            font-family: "osMedium", sans-serif;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .info,
        .extraInfo {
          font-size: 12px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          font-family: "osMedium", sans-serif;
          overflow: hidden;
        }
      }
    }
  }

  .filtericon {
    display: block;
  }
  .filter_container {
    display: block;
  }
}
