#form-file-upload {
  height: 8rem;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 6px;
  border-style: dashed;
  border-color: #eee;
  background-color: #fff;
  cursor: pointer;
}
#label-file-upload div p {
  color: #adadad;
  font-family: "osMedium", sans-serif;
}
#label-file-upload div button {
  color: #adadad;
  font-family: "osSemiBold", sans-serif;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: "Oswald", sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.sectionToggler {
  height: 22px !important;
}

.sectionToggler.p-inputswitch .p-inputswitch-slider {
  border-radius: 25px !important;
  height: 21px !important;
}

.sectionToggler.p-inputswitch.p-highlight .p-inputswitch-slider {
  background-color: #55a363 !important;
}

.sectionToggler.p-inputswitch.p-highlight .p-inputswitch-slider:before {
  transform: translateX(1.7rem) !important;
}

.sectionToggler.p-inputswitch .p-inputswitch-slider:before {
  border-radius: 25px !important;
  width: 13px !important;
  height: 13px !important;
  margin-top: -6.4px !important;
  box-shadow: 0 0 13px -1px rgba(0, 0, 0, 37%) !important;
}

.blogQuill .ql-editor {
  padding-right: 100px !important;
}
.blog .ql-editor {
  min-height: 250px !important;
}
.blog .ql-tooltip {
  top: 28.4px;
  z-index: 9999 !important;
  /* width: 476px !important; */
  left: 360px !important;
}
