.ticketsGrid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  background-color: #f9fafb;
  padding: 10px 0;
}
.ticketHeader {
  padding: 15px;
}
.disabledText {
  font-size: 14px;
  color: #adadad;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  text-align: center;
  width: 100%;
}

.contentGrid {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  gap: 12px;
  padding: 0 10px;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 70vh;
}
.lhsG {
  width: 20%;
}
.rhsG {
  width: 80%;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #cfcfcf50;
  border-radius: 10px;
}
.ticketViewWrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: calc(100vh - 150px);
  gap: 15px;
  padding: 10px;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  margin: 0;
  background-color: #f9fafb;
}
