.MuiInputBase-input::placeholder {
  color: #000 !important;
}
.MuiInputBase-root {
  border-radius: 6px !important;
  border: 0 !important;
  background-color: #fff !important;
  /* height: 50px !important; */
  height: 50px;
}
.MuiInputLabel-root.Mui-focused {
  color: #a4a4a4 !important;
  top: -4px !important;
}
.MuiInputLabel-root {
  margin-left: 2px !important;
  top: -3px !important;
  color: #a4a4a4 !important;
  font-family: "osRegular", sans-serif !important;
}
.MuiInputBase-input {
  border-radius: 6px !important;
  padding: 0px 15px !important;
  padding-top: 14px !important;
  font-size: 15px;
  font-family: "osMedium", sans-serif !important;
  background-color: #fff !important;
}
.MuiTextarea-variantOutlined {
  --Textarea-focusedHighlight: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  background: #fff;
}
.MuiFormControl-root {
  width: 100% !important;
}
/* primereact styles */
.p-datepicker {
  border-radius: 10px;
  box-shadow: 0px 0px 4px #b6b6b630;
  background-color: #fff !important;
  overflow: hidden !important;
  /* top: 524px !important; */
  transform: translateX(-10px) translateY(15px) !important;
}
.p-calendar > .p-inputtext {
  padding-left: 4px !important;
  padding-top: 14px !important;
  font-family: "osMedium", sans-serif !important;
  font-size: 15px !important;
  /* height: 34px !important; */
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
  /* border: 1px solid #adadad50 !important; */
  border: none !important;
  outline: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  /* border-color: #adadad50 !important; */
}
.p-datepicker-trigger.p-button {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 1px solid transparent !important;
  color: var(--primary-pernix-green);
}
.p-datepicker .p-datepicker-header button {
  border: 0 !important;
  outline: 0 !important;
}
.p-datepicker .p-datepicker-header {
  background-color: #004b5510 !important;
  border-radius: 4px !important;
  padding: 10px !important;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  border: 1px solid #eee !important;
  outline: 0 !important;
  background-color: transparent !important;
}

.p-datepicker-month {
  color: #000 !important;
}
.p-datepicker-month option {
  color: #000 !important;
}
.p-datepicker-group-container {
  padding: 10px;
  box-shadow: none !important;
}
.p-datepicker-calendar thead tr th {
  padding: 10px !important;
}
.p-datepicker-calendar {
  font-family: "osMedium", sans-serif !important;
  font-size: 13px !important;
}
.p-datepicker table td.p-datepicker-today > span.p-highlight {
  background: #eee !important;
}
.p-datepicker table td > span {
  width: 32px !important;
  height: 32px !important;
  /* box-shadow: 0px 0px 4px 4px var(--primary-pernix-green); */
  box-shadow: none !important;
}
.p-datepicker table td > span.p-highlight {
  background: var(--primary-pernix-green) !important;
  color: #fff !important;
  border-radius: 50%;
}
.p-datepicker-group-container {
  box-shadow: 0px 3px 10px #00000010 !important;
}

.p-float-label:has(input:focus) label {
  font-size: 12px !important;
  top: 0.8rem !important;
  margin-left: 2px !important;
}
.p-float-label:has(.p-inputwrapper-filled) label {
  top: 0.8rem !important;
  font-size: 12px !important;
}
.p-float-label {
  background-color: #fff;
  /* height: 34px; */
  height: 50px;
  padding: 0 10px;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding-right: 12px !important;
  width: 100%;
}

.d_datepickerSM .p-inputtext {
  font-size: 13px !important;
  padding-top: 20px !important;
}
.inputWrapperSM .p-float-label {
  height: 35px !important;
}
.labelSM {
  font-size: 14px !important;
}
.p-float-label:has(.p-inputwrapper-filled) .labelSM {
  top: 11px !important;
  font-size: 11px !important;
}
.MuiAutocomplete-inputRoot {
  padding: 8px 0 !important;
}
.MuiAutocomplete-inputRoot::before,
.MuiAutocomplete-inputRoot::after {
  display: none !important;
}
.MuiAutocomplete-input {
  font-family: "osMedium", sans-serif !important;
  padding: 0 10px !important;
  padding-top: 14px !important;
}
.MuiAutocomplete-root .MuiInputLabel-root {
  margin-left: 0 !important;
}
.MuiAutocomplete-option {
  font-size: 14px !important;
}
.MuiAutocomplete-option[aria-selected="true"] {
  background-color: #2d4b5120 !important;
}
