.container {
  width: auto;
  // height: 496px;
  height: 520px;
  padding: 16px 30px;
  margin: 20px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px -1px 4px 0px #b9b9b940;
  background-color: #fff;
}

.LoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.inputFieldContainer {
  .firstRow {
    margin-bottom: 20px;
  }

  .secondRow {
    display: flex;
    gap: 20px;
    width: 100%;
  }
}

.PRCarouselContainer {
  width: 100%;
  height: 365px;
  box-shadow: 0px -1px 4px 0px #b9b9b940;
  margin-top: 20px;
  padding: 20px;
  border-radius: 6px;

  .carouselContainer {
    .CarouselTitle {
      font-size: 15px;
      font-weight: 500;
      width: 100%;
      line-height: 23px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: "osMedium", sans-serif;
      color: var(--primary-pernix-green);
    }

    .CarouselTextArea {
      padding: 20px 0px;
    }
  }
}

.footerBTNSec {
  display: flex;
  align-items: center;
  margin-top: 20px;

  .sendBTN {
    color: #fff;
    font-weight: 500;
    width: 80px;
    padding: 6px 8px;
    border-radius: 5px;
  }

  .viewAllBTN {
    border: 0 !important;
    outline: 0 !important;
    background-color: transparent !important;
    color: #e0803d;
    font-family: "osSemiBold", sans-serif !important;
    font-size: 16px;
    border-bottom: 1px solid #e0803d !important;
  }
}

.noDataFound {
  height: 324px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  color: #afafaf;
}
