.tabsContainer {
  display: flex;
  gap: 20px;
  margin: 0px 20px;

  div {
    padding-bottom: 6px;
    font-size: 18px;
    font-weight: 500;
    color: #0b4d53;
    cursor: pointer;
    border-radius: 4px;
  }
}

.newsHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  .leftSection {
    display: flex;
    align-items: center;
    gap: 10px;
    i {
      cursor: pointer;
    }
    p {
      font-family: "osSemibold", sans-serif;
      color: #0b4d53;
      font-size: 22px;
    }
  }

  .rightSection {
    display: flex;
    align-items: center;
    gap: 15px;

    .refreshBtn {
      padding: 7px;
      border-radius: 4px;
      background-color: #0b4d53;
      cursor: pointer;

      i {
        font-size: 20px;
        font-weight: 500;
        color: #ffff;
      }
    }
    .addNewbtn {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 15px;
      font-weight: 500;
      background: #0b4d53;
      // width: 114px;
      height: 34px;
      color: #fff;
      padding: 4px 15px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

.poll-header {
  font-size: 16px;
  color: #4b4b4b;
  font-family: "osSemibold", sans-serif;

  margin: 10px 0px;
}
.container {
  border: 1px solid #a7b5a7;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
  cursor: pointer;
  .backgroundfill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #a7b5a7;
    border-radius: 4px;
    z-index: 0;
  }
  .contentSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;

    .content {
      display: flex;
      align-items: center;
      gap: 10px;
      i {
        font-size: 16px;
        color: #0b4d53;
      }
      p {
        margin: 0;
        color: #0b4d53;
        font-size: 14px;
        font-family: "osSemibold", sans-serif;
      }
    }
    p {
      margin: 0;
      color: #0b4d53;
      font-size: 12px;
      font-family: "osRegular", sans-serif;
    }
  }
}

.voteButton {
  width: 87px;
  height: 36px;
  display: flex;
  justify-content: flex-end;
  button {
    width: 100%;
    height: 100%;
    background-color: #0b4d53;
    color: #fff;
  }
}
