/* webpart styles reset  */
/* webpart styles reset  */
/* .ms-CommandBarItem-link {
  position: absolute;
  top: 500px;
  left: 6px;
  transform: translate(-53px, 100px);
  z-index: 9999;
} */
.CanvasComponent.LCS .CanvasZone:not(.CanvasZone--fullWidth) .ControlZone {
  padding: 0 !important;
}
.ControlZone {
  padding: 0 !important;
}
.CanvasSection {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: #f0f0f0 !important;
}
.CanvasComponent.LCS .CanvasSection-col {
  padding: 0 !important;
}
.spAppAndPropertyPanelContainer .sp-appBar {
  display: none;
}
.CanvasComponent.LCS
  .CanvasSection--read:not(.CanvasSection--fullWidth)
  .ControlZone {
  margin-top: 0 !important;
}
div[data-automation-id="CanvasZone-SectionContainer"] {
  margin: 0 !important;
  margin-top: 33px !important;
}
/* div[data-automation-id="CanvasSection"] {
  background-color: #f0f0f0 !important;
} */
.CanvasZone-SectionContainer {
  background-color: var(--body-bgcolor) !important;
}
/* #sp-appBar {
  display: none !important;
} */
.fui-DialogSurface__backdrop {
  display: none !important;
}
.fui-DialogSurface {
  display: none !important;
}
/* reset width in deloyment */
.CanvasComponent .CanvasZone {
  max-width: 100% !important;
  padding: 0px !important;
}

/* #spCommandBar {
  display: none !important;
}

#spLeftNav {
  display: none !important;
}

#spSiteHeader {
  display: none !important;
} */

#workbenchPageContent {
  width: 100% !important;
  max-width: 100% !important;
  left: 0 !important;
  right: 0 !important;
}

/* #workbenchPageContent > div > div > div {
  padding: 0px !important;
} */

.ControlZone {
  margin: 0px !important;
  padding: 0px !important;
}

.CanvasComponent > div > div,
.CanvasComponent > div > div > div,
.CanvasComponent > div > div > div > div,
.CanvasComponent > div > div > div > div > div {
  width: 100% !important;
  max-width: 100% !important;
  padding-right: 0 !important;
  margin: 0 !important;
  padding-left: 0 !important;
  display: block;
}

.CanvasComponent > div > div > div > div {
  max-width: 100% !important;
}

.mainContent > article > div > div {
  display: block !important;
}

.webPartContainer {
  display: none !important;
}

.ControlZone--clean {
  padding: 0px !important;
  margin: 0px !important;
}

.CanvasSection {
  padding-left: 0px !important;
}

.spAppAndPropertyPanelContainer .sp-appBar {
  display: none !important;
}

#CommentsWrapper {
  display: none !important;
}
.mainContent {
  background-color: var(--body-bgcolor) !important;
}
/* RESETTING CSS DEFAULT STYLES */
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 0; */
  /* font-size: 100%; */
  font: inherit;
  /* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  cursor: pointer;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}
/* common utility style classes */
.textCenter {
  text-align: center !important;
}

/* root variables */
:root {
  /* Background Colors */
  --body-bgcolor: #f2f4f7;
  --tab-bgcolor: #f3efff;

  /* White and Off-White Colors */
  --white: #ffffff;
  --primary-white: #fff;
  --whitesmoke: #f9fafc;

  /* Grey Colors */
  --ad-grey: #adadad;
  --ad-grey-15: #adadad15;
  --ad-grey-50: #adadad50;
  --a4-grey: #a4a4a4;
  --a4-grey30: #a4a4a430;
  --d9-grey: #d9d9d9;
  --d9-grey-30: #d9d9d930;
  --placeholder: #8e8e8e;

  /* Text and Muted Grey Colors */
  --text-grey: #a1aebe;

  /* Darker and Accent Colors */
  --bg-ash: #555555;

  /* Primary Orange Shades */
  --primary-orange: #e0803d;
  --primary-orange-light: #f2a06e;
  --primary-orange-dark: #c4692e;
  --primary-orange-muted: #d98754;
  --primary-orange-accent: #ffad75;

  /* Primary Pernix Green Shades */
  --primary-pernix-green: #2d4b51;
  --primary-pernix-green-light: #4f6d73;
  --primary-pernix-green-dark: #1f363b;
  --primary-pernix-green-muted: #3b6065;
  --primary-pernix-green-accent: #5e7d82;

  /* Sage Shades */
  --sage: #a7b5a7;
  --sage-light: #c7d1c7;
  --sage-dark: #8c9c8c;
  --sage-muted: #a0ada0;
  --sage-accent: #bcc9bc;

  /* Beige Shades */
  --beige: #efece8;
  --beige-light: #f8f6f3;
  --beige-dark: #d4d2cf;
  --beige-muted: #e2e0db;
  --beige-accent: #f0edeb;

  /* Slate Shades */
  --slate: #272e34;
  --slate-light: #4b5359;
  --slate-dark: #1a2025;
  --slate-muted: #323a41;
  --slate-accent: #3e464d;
}

/* font faces */
@font-face {
  font-family: "osLight";
  src: url("../fonts/open_sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: "osRegular";
  src: url("../fonts/open_sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "osMedium";
  src: url("../fonts/open_sans/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "osSemibold";
  src: url("../fonts/open_sans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "osBold";
  src: url("../fonts/open_sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "osExtraBold";
  src: url("../fonts/open_sans/OpenSans-ExtraBold.ttf");
}

*::placeholder {
  color: var(--placeholder) !important;
}
/* width */
*::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--white) !important;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--a4-grey) !important;
  border-radius: 30px !important;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555555ac !important;
  border-radius: 30px !important;
}
/* body  */
* {
  font-family: "osRegular", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "osRegular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  /* -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; */
  /* line-height: 1.5; a nice line-height */
  /* scrollbar-width: thin;
  scrollbar-color: #888 #f5f5f5; */
  scroll-behavior: smooth;
}

/* calender style */

.Shoutout.p-avatar {
  width: 38px !important;
  height: 38px !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background: linear-gradient(0deg, #0b4d53, #0b4d53),
    linear-gradient(0deg, #0b4d53, #0b4d53) !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}
.p-carousel-indicators {
  gap: 5px !important;
}

/* .qustionceo .p-avatar {
  width: 25px !important;
  height: 25px !important;
} */

.disabledText {
  font-style: 15px;
  color: #adadad;
  /* width: 100%; */
  text-align: center;
  font-family: "osMedium", sans-serif !important;
  margin: 20px 0;
  user-select: none !important;
  -webkit-user-drag: none !important;
}
.errorWrapper img {
  width: 20px;
  height: 20px;
}
.errorWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.viewAllSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
}
.viewAllSection button {
  border: 0 !important;
  outline: 0 !important;
  background-color: transparent !important;
  color: var(--primary-orange);
  font-family: "osSemiBold", sans-serif !important;
  font-size: 16px;
  border-bottom: 1px solid var(--primary-orange) !important;
}
.ms-BasePicker-text,
.ms-Persona-details {
  font-family: "osRegular", sans-serif !important;
}
.ms-BasePicker-text::after {
  display: none !important;
}

/* inputtextarea */
.p-inputtext:enabled:focus {
  box-shadow: unset !important;
  border-color: unset !important;
  border: 0 !important;
}

.p-inputtext {
  background: #f8f8f8 !important;
  border: 0 !important;
  padding: 10px !important;
}

/* paginator styles */
.p-paginator {
  border: 0 !important;
  background-color: #f0f0f0 !important;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  border: 0 !important;
  border-radius: 50% !important;
  color: #0b4d53 !important;
  background-color: #f0f0f0 !important;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  border: 0 !important;
  color: #0b4d53 !important;
  background-color: #f0f0f0 !important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #0b4d53 !important;
  color: #fff !important;
}

.canvasjs-chart-canvas {
  top: 26px !important;
  /* background-color: #000 !important; */
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #eee;
}

#spCommandBar {
  display: none !important;
}
.noDataText {
  font-size: 14px;
  color: #adadad;
  user-select: none;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: osMedium, sans-serif;
  animation: slideIn 0.2s ease-out; /* Apply animation class */
}

@keyframes slideIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* toastify */
.Toastify__toast {
  min-height: 52px !important;
}
.Toastify__progress-bar {
  bottom: -1px !important;
}
.Toastify__toast-body {
  font-family: "osMedium", sans-serif !important;
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.MuiDataGrid-overlay {
  background-color: #00000005 !important;
}
.MuiDataGrid-overlay .MuiCircularProgress-root {
  color: var(--primary-pernix-green) !important;
  width: 30px !important;
  height: 30px !important;
}
.MuiDataGrid-main {
  border-radius: 10px !important;
}

/* snow  theme specific classes */
.quill-editor .ql-editor .mention {
  color: var(--primary-pernix-green) !important;
  padding: 0 !important;
  /* font-size: 0.9rem !important; */
  font-weight: 600 !important;
  text-decoration: none !important;
}
.mention,
span[data-denotation-char="@"] {
  color: var(--primary-pernix-green) !important;
  padding: 0 !important;
  /* font-size: 0.9rem !important; */
  font-weight: 600 !important;
  text-decoration: none !important;
}

.ql-mention-list-container {
  z-index: 99;
}
.ql-mention-list {
  padding: 5px !important;
  width: 100%;
  max-width: 310px !important;
  overflow-x: auto;
  border: 1px solid #eee !important;
  border-radius: 6px !important;
  background-color: white !important;
  max-height: 110px !important;
  overflow-y: auto !important;
  z-index: 99 !important;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05) !important;
}
/* .ql-mention-list > li {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none !important;
  padding: 10px 12px;
  border-bottom: 1px solid #eee;
  border-radius: 4px !important;
}
*/
.ql-mention-list > li:hover {
  background-color: #eee !important;
  border-radius: 4px !important;
}
.ql-mention-list-item.selected {
  background-color: #eee !important;
}
.ql-toolbar {
  display: block;
  width: 100%;
  background-color: #eeefef;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  /* transform: translateY(6px); */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 7px 8px 7px;
  border: 1px solid #dfe7ef !important;
}
.ql-toolbar button {
  cursor: pointer;
  margin-right: 5px;
  height: 100%;
  font-size: 14px;
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-right: 5px;
  border-bottom: 1px solid #dfe7ef;
  background-color: transparent;
}
.ql-editor {
  padding: 10px !important;
  min-height: 100px;
  max-height: 100px;
}
.ql-container li {
  list-style: disc;
  margin-left: 15px;
}
.ql-container {
  height: auto !important;
}

.ql-container.ql-snow {
  border: 1px solid #dfe7ef !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  font-family: "osRegular", sans-serif !important;
}
strong {
  font-family: "osBold", sans-serif !important;
}
em {
  font-style: italic !important;
}
.ql-mention-list-item {
  list-style-type: none !important;
  margin-left: 0 !important;
}
.basicSMInput {
  width: auto;
  padding: 7px 10px;
  font-family: "osMedium", sans-serif !important;
  border-radius: 6px;
  border: 1px solid #eeeeee;
  outline: none;
  height: 34px;
  font-size: 14px;
}
.basicSMInput::placeholder {
  color: #414141 !important;
}
.slideUpFade {
  opacity: 0;
  transition: 0.2s all;
  animation: slideAndFade 0.17s both ease !important;
}
@keyframes slideAndFade {
  0% {
    opacity: 0;
    transform: translateY(10px);
    /* Start off-screen */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Slide down */
  }
}

/* .p-checkbox:not(.p-disabled):has(.p-checkbox-input:focus-visible)
  .p-checkbox-box {
  box-shadow: none !important;
}

#teamsOption
  + .p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover).p-highlight
  .p-checkbox-box {
  border-color: #7b83eb !important;
  background: #7b83eb !important;
}

#teamsOption + .p-checkbox.p-highlight .p-checkbox-box {
  border-color: #7b83eb !important;
  background: #7b83eb !important;
}

#outlookOption
  + .p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover).p-highlight
  .p-checkbox-box {
  border-color: #117ad6 !important;
  background: #117ad6 !important;
}

#outlookOption + .p-checkbox.p-highlight .p-checkbox-box {
  border-color: #117ad6 !important;
  background: #117ad6 !important;
} */

/* Handle Checked State */

.p-checkbox .p-checkbox-box {
  width: 18px !important;
  height: 18px !important;
}
#teamsOption .p-checkbox.p-highlight .p-checkbox-box {
  border-color: #7b83eb !important;
  background: #7b83eb !important;
}
#outlookOption .p-checkbox.p-highlight .p-checkbox-box {
  border-color: #117ad6 !important;
  background: #117ad6 !important;
}

/* Handle Hover */
#teamsOption .p-checkbox:not(.p-disabled):hover .p-checkbox-box {
  border-color: #7b83eb !important;
  background: #7b83eb !important;
}

#outlookOption .p-checkbox:not(.p-disabled):hover .p-checkbox-box {
  border-color: #117ad6 !important;
  background: #117ad6 !important;
}

/* Handle Focus */
.p-checkbox:not(.p-disabled) .p-checkbox-box:focus-visible {
  box-shadow: none !important;
}

@keyframes expand {
  0% {
    max-height: 0; /* Start collapsed */
  }
  100% {
    max-height: 500px; /* Expanded state */
  }
}

@keyframes collapse {
  from {
    max-height: 500px; /* Start expanded */
  }
  to {
    max-height: 0; /* Collapsed state */
  }
}

/* mui switch styles */
.Mui-checked .MuiSwitch-thumb {
  background-color: var(--primary-pernix-green) !important;
}
.Mui-checked + .MuiSwitch-track {
  background-color: var(--primary-pernix-green-accent) !important;
}
