.container {
  width: 100%;
  height: calc(100vh - 128px);
  background-color: #f0f0f0;
  padding: 16px 30px;
}

.LoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 144px);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;

  .backContainer {
    display: flex;
    align-items: center;
    gap: 14px;

    .backHeader {
      font-size: 22px;
      font-weight: 600;
      color: #0b4d53;
      font-family: "osSemibold", sans-serif;
    }
  }
}

.bodyContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  .activitieContainer {
    width: 85%;
    max-height: calc(100vh - 200px);
    // overflow: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 28px;

    .activitieCard {
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;
      width: 31%;
      padding: 20px;
      border-radius: 6px;
      background-image: linear-gradient(to right, #5f8285, #0b4d53);
      cursor: pointer;

      .imgSec {
        padding: 10px;
        background: #76979a;
        border-radius: 6px;

        img {
          width: 28px;
          height: 28px;
        }
      }

      .nameSec {
        font-size: 18px;
        // font-weight: 500;
        font-family: "osSemibold", sans-serif;

        color: #ffff;
      }
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 200px);
  gap: 20px;

  img {
    height: 60px;
    width: 60px;
    object-fit: contain;
  }

  div {
    font-size: 18px;
    font-weight: 500;
    color: #adadad;
    text-align: center;
    font-family: "osRegular";
  }
}
.customBadge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #e74c3c;
  color: white;
  border-radius: 50%;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
}
@media (max-width: 900px) {
  .headerContainer {
    .backContainer {
      .backHeader {
        font-size: 18px;

        color: #0b4d53;
        font-family: "osSemibold", sans-serif;
      }
    }
  }
  .bodyContainer {
    .activitieContainer {
      gap: 10px;
      width: 100%;
      .activitieCard {
        width: calc(50% - 10px);
        padding: 10px;
        gap: 10px;

        .imgSec {
          padding: 5px;
          background: #76979a;
          border-radius: 6px;

          img {
            width: 26px;
            height: 26px;
          }
        }
        .nameSec {
          font-size: 14px;
        }
      }
    }
  }
  .content {
    img {
      height: 50px;
      width: 50px;
    }
    div {
      font-size: 14px;
    }
  }
}

@media (max-width: 500px) {
  .headerContainer {
    .backContainer {
      .backHeader {
        font-size: 16px;

        color: #0b4d53;
        font-family: "osSemibold", sans-serif;
      }
    }
  }
  .bodyContainer {
    .activitieContainer {
      width: 100%;
      gap: 20px;
      .activitieCard {
        width: 100%;
        padding: 10px;
        gap: 10px;

        .imgSec {
          padding: 5px;
          background: #76979a;
          border-radius: 6px;

          img {
            width: 24px;
            height: 24px;
          }
        }
        .nameSec {
          font-size: 12px;
        }
      }
    }
  }
  .content {
    img {
      height: 40px;
      width: 40px;
    }
    div {
      font-size: 12px;
    }
  }
  .customBadge {
    font-size: 12px;
    width: 15px;
    height: 15px;
  }
}
